html {
  box-sizing: border-box;
}
*, *::after, *::before {
  box-sizing: inherit;
}
h1, h2 {
  margin: 0;
}
h1 {
  margin-bottom: 60px;
}
h2 {
  margin: 20px 0;
}
main section:first-of-type h2 {
  margin-top: 0;
}
a.nav-link {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}
nav h1 {
  text-align: center;
  color: #fff;
}
main {
  padding: 40px 40px 0 40px;
  position: relative;
}
a.nav-link {
  display: block;
  margin-bottom: 10px;
}
a.nav-link:last-of-type {
  margin-bottom: 0;
}
body {
  font-family: 'Inconsolata', sans-serif, serif;
}
nav#navbar {
  background-color: #222;
  padding: 20px;
}
pre {
  padding: 20px;
  background-color: #dce0da;
  border-left: 5px solid #59eb0b; 
  overflow: auto;
}
a {
  color: #59eb0b;
  text-decoration: none;
}
a:selected {
  color: #59eb0b;
}
section:last-of-type {
  margin-bottom: 40px;
}
footer {
  background-color: #222;
  color: #fff;
  text-align: center;
  padding: 10px;
  position: absolute;
  width: 100%;
  left: 0;
}
@media only screen and (min-width: 768px) {
  nav#navbar {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  div.container {
    display: flex;
  }
  main {
    height: 100vh;
    overflow: auto;
  }
}
